@font-face {
  font-family: "Inter";
  src: url("../../public/fonts/Inter-Regular.woff2");
}

@font-face {
  font-family: "Manrope";
  src: url("../../public/fonts/Manrope.ttf");
}

@media screen and (min-width: 414px) and (max-width: 1600px) {
  .container {
    width: 414px;
    height: 1086px;
    background: #FFFFFF;
  }

  .formContainer {
    position: absolute;
    left: 55px;
    top: 32px;
    width: 350px;
    height: 583px;
    background: #FFFFFF;
    box-shadow: 4px 4px 25px rgba(14, 76, 121, 0.18);
    border-radius: 10px;
  }

  .formHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .logo {
    width: 106px;
    height: 25px;
    margin-top: 30px;
  }

  .legend {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #2B689B;
  }

  .inputBlock {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 30px 30px 20px 30px;
    align-items: center;
    gap: 30px;
  }

  .inputs {
    box-sizing: border-box;
    width: 100%;
  }

  .input {
    box-sizing: border-box;
    font-family: "Inter";
    position: relative;
    padding: 5px 10px;
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    border: none;
    border-bottom: 1px solid #2B689B;
    background-color: transparent;
    color: inherit;
    outline: none;
  }

  ::placeholder {
    position: relative;
    color: #2B689B;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
  }

  span::before {
    content: "*";
    position: absolute;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #FFB6C1;
  }

  span {
    position: relative;
  }

  span:nth-child(3)::after {
    content: " ";
    width: 20px;
    height: 10px;
    position: absolute;
    left: 380px;
    top: 15px;
    background-image: url(/public/showpass.svg);
  }

  .text {
    font-family: 'Inter';
    position: relative;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #2B689B;
    margin: 0px 45px;
  }

  .text::before {
    content: "*";
    font-family: 'Inter';
    position: absolute;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    left: -10px;
    color: #FFB6C1;
  }

  .btnBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0px 30px 0px;
    gap: 30px;
  }

  .btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 18px 30px;
    gap: 13px;
    width: 242px;
    background: #FFD970;
    border: none;
    border-radius: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #0E406A;
  }

  .btn::after {
    content: " ";
    display: inline-block;
    width: 31px;
    height: 10px;
    background-image: url(/public/Arrow.svg);
  }

  .textBtns {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .textBtn {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 0.01em;
    color: #2B689B;
  }

  .textBtn:hover {
    cursor: pointer;
  }

  .btn:hover {
    cursor: pointer;
  }

  .formErr {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #F13F58;
    margin: 5px;
  }

  .inputErr {
    box-sizing: border-box;
    font-family: "Inter";
    position: relative;
    padding: 10px 25px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    width: 400px;
    height: 36px;
    border: none;
    border-bottom: 1px solid #FFB6C1;
    background-color: transparent;
    color: inherit;
    outline: none;
  }
}

@media screen and (min-width: 1600px) {
  .container {
    width: 1600px;
    height: 1333px;
    background: #FFFFFF;
  }

  .formContainer {
    position: absolute;
    left: 550px;
    top: 151px;
    width: 500px;
    height: 724px;
    background: #FFFFFF;
    box-shadow: 4px 4px 25px rgba(14, 76, 121, 0.18);
    border-radius: 10px;
  }

  .formHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .logo {
    width: 128px;
    height: 30px;
    margin-top: 40px;
  }

  .legend {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 38px;
    color: #2B689B;
  }

  .inputBlock {
    display: flex;
    flex-direction: column;
    margin: 50px 50px 30px 50px;
    align-items: center;
    gap: 40px;
  }

  .input {
    box-sizing: border-box;
    font-family: "Inter";
    position: relative;
    padding: 10px 25px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    width: 400px;
    height: 36px;
    border: none;
    border-bottom: 1px solid #2B689B;
    background-color: transparent;
    color: inherit;
    outline: none;
  }

  ::placeholder {
    position: relative;
    color: #2B689B;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
  }

  span::before {
    content: "*";
    position: absolute;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    left: 10px;
    top: 5px;
    color: #FFB6C1;
  }

  span {
    position: relative;
  }

  span:nth-child(3)::after {
    content: " ";
    width: 20px;
    height: 10px;
    position: absolute;
    left: 380px;
    top: 15px;
    background-image: url(/public/showpass.svg);
  }

  .text {
    font-family: 'Inter';
    position: relative;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #2B689B;
    margin: 0px 75px;
  }

  .text::before {
    content: "*";
    font-family: 'Inter';
    position: absolute;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    left: -15px;
    color: #FFB6C1;
  }

  .btnBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0px 30px 0px;
    gap: 30px;
  }

  .btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 20px 40px;
    gap: 13px;
    width: 270px;
    height: 61px;
    background: #FFD970;
    border: none;
    border-radius: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    color: #0E406A;
  }

  .btn::after {
    content: " ";
    display: inline-block;
    width: 31px;
    height: 10px;
    background-image: url(/public/Arrow.svg);
  }

  .textBtns {
    display: flex;
    flex-direction: row;
    gap: 35px;
  }

  .textBtn {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.01em;
    color: #2B689B;
  }

  .textBtn:hover {
    cursor: pointer;
  }

  .btn:hover {
    cursor: pointer;
  }

  .formErr {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #F13F58;
    margin: 5px;
  }

  .inputErr {
    box-sizing: border-box;
    font-family: "Inter";
    position: relative;
    padding: 10px 25px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    width: 400px;
    height: 36px;
    border: none;
    border-bottom: 1px solid #FFB6C1;
    background-color: transparent;
    color: inherit;
    outline: none;
  }
}